$icon-font-path: "/fonts/bootstrap/";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

body {
  padding: 60px 10px 10px;
}

nav {
  h1, h2 {
    font-size: 18px;
    font-weight: bold;
  }
}

html, body, #app, .main {
  height: 100%;
}

.daily-menu-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-items: left;
  justify-content: flex-start;
  width: 100%;
  height: 100%;

  .menu-item {
    width: 300px;
    margin: 2px;

    li {
      margin-left: -30px;
    }
    span.category {
      display: inline-block;
      width: 15px;
      height: 15px;
      font-size: 10px;
      text-align: center;
      font-weight: 600;
      border-radius: 15px;
      margin-right: 2px;
    }
  }
}

.legend {
  text-align: center;
  span {
    padding: 5px;
    border-radius: 5px;
    margin: 3px;
  }
}

.selected-restaurants {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  justify-items: left;
  flex-wrap: wrap;
  height: 54px;

  label {
    margin: 0;
    display: inline-block;
  }
}

@media (max-width: 768px) {
  .daily-menu-list {
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
  }
  .selected-restaurants {
    flex-direction: row;
  }
}
